<div id="footer-container">
    <div id="footer1">
      <div id="footer-categories">
        <h4>Modify From Here</h4>
        <form action="/admin" method="post">
          <button class="dropdown-item" name="category" value="products">Products</button>
          <button class="dropdown-item" name="category" value="Customer">Customer</button>
          <button class="dropdown-item" name="category" value="Orders">Orders</button>
      </form>
      </div>
      <div id="footer-about">
        <h4>About Us</h4>
        <a href="#">Our Company</a>
        <br />
        <a href="#">Our Team</a>
      </div>
    </div>
    <hr />
    <div id="footer-payment">
      <img src="../../static/Home/assets/payment-logo.png" style="height:5rem" />
    </div>
    <div id="foooter-payment" style="text-align:center; margin-top:2rem;">
      <p>©2024 eCommerce Website. All rights reserved. Prepared by Group - 5.</p>
    </div>
  </div>