<div id="footer-container">
    <div id="footer1">
      <div id="footer-categories">
        <h4>Our Specialized Categories</h4>
        <form action="/product" method="post">
          <button class="dropdown-item" name="category" value="Electronics">Electronics</button>
          <button class="dropdown-item" name="category" value="Fashion">Fashion</button>
          <button class="dropdown-item" name="category" value="Furniture">Furniture</button>
      </form>
      </div>
      <div id="footer-about">
        <h4>About Us</h4>
        <a href="#">Our Company</a>
        <br />
        <a href="#">Our Team</a>
      </div>
    </div>
    <hr />
    <div id="footer-payment">
      <img src="../../static/Home/assets/payment-logo.png" style="height:5rem" />
    </div>
    <div id="foooter-payment" style="text-align:center; margin-top:2rem;">
      <p>©2024 eCommerce Website. All rights reserved. Prepared by Group - 5.</p>
    </div>
  </div>